.justify-sb {
  justify-content: space-between;
}

.post-max-w {
  margin: 0 auto;
  max-width: 80%;
}

.post-w {
  margin: 0 auto;
  width: 40%;
}

.col-2 {
  flex-basis: calc(100% / 2);
}

.display-inline {
  display: inline;
}

/* @media screen and (min-width: 767px) {
  button.comment-post-btn {
    height: 50%;
  }
} */

@media screen and (max-width: 767px) {
  .navlist ul {
    text-align: center;
    flex-direction: column;
    display: flex;
  }

  .navlist.active ul {
    display: flex;
  }

  .search-input {
    max-width: 65%;
    margin: 0 auto;
  }

  .modal-wrapper .row {
    flex-direction: column-reverse;
  }

  .confirm-btn {
    margin-bottom: 10px;
  }

  .post-w {
    width: 100%;
  }

  .comment-btn-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .comment-post-btn {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .post-w {
    width: 75%;
  }
}

@media screen and (max-width: 480px) {
  .post-w {
    width: 100%;
  }
}
