.justify-sb {
  justify-content: space-between;
}

.post-max-w {
  margin: 0 auto;
  max-width: 80%;
}

.post-w {
  margin: 0 auto;
  width: 65%;
}

.col-2 {
  flex-basis: calc(100% / 2);
}

@media screen and (max-width: 600px) {
  .post-w {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
